[submodule "https-everywhere"]
	path = https-everywhere
	url = git://git.torproject.org/https-everywhere.git
[submodule "theos"]
	path = theos
	url = git://github.com/DHowett/theos.git
[submodule "KissXML"]
	path = KissXML
	url = git://github.com/westbaer/KissXML.git
